.button {
	display: block;

	padding: 0.8em 1.8em;

	color: var(--color-text-on-primary);
	font-weight: 500;
	font-size: 1rem;
	font-family: inherit;

	border: 0;
	border-radius: 1.7em;

	background-color: transparent;
	background-image: linear-gradient(to right, hsl(118, 33%, 54%) 0%, hsl(103, 54%, 59%) 100%);

	outline: none;

	cursor: pointer;
}

.button--text {
	color: var(--color-text);

	background: none;
}

.button--sm {
	font-size: 0.9rem;
}

.button--fill {
	width: 100%;
}

.button:focus-visible {
	box-shadow: 0 0 0 0.1em white, 0 0 0 0.25em currentColor;
}
