.form__field + .form__field {
	margin-top: 1.5rem;
}

.form__footer {
	display: flex;
	justify-content: space-between;

	margin-top: 1.4rem;
}

@media (min-width: 500px) {
	.form__footer {
		margin-top: 2.4rem;
	}
}
