.header {
	position: relative;

	display: grid;
	grid-template-rows: 80px 1fr 80px;

	/* height: 100vh; */
	min-height: 500px;
	padding: 1rem 0;

	color: white;

	background-color: hsl(108, 100%, 1%);
	background-image: url('/images/header-bg.jpg');
	background-position: center bottom;
	background-size: cover;
}

@media (min-width: 1070px) {
	.header {
		grid-template-rows: 80px 1fr 10%;

		min-height: 900px;
	}
}

.header__top {
	position: relative;
	z-index: 10;

	padding: 1.5rem 0;
}

.header__top--sticky {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	width: 100%;
	padding: 0.5rem 0;

	background-color: hsl(117, 33%, 42%);

	backdrop-filter: blur(5px);

	transform: translateY(-100%);

	transition: transform 0.3s ease;
}

@media (min-width: 500px) {
	.header__top--sticky {
		padding: 1rem 0;
	}
}

.header__top--show {
	transform: translateY(0);
}

.header__top-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	max-width: var(--container-max-width);
	margin: 0 auto;
	padding: 0 var(--container-padding-x);
}

.header__logo {
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1;
	text-transform: uppercase;
}

@media (min-width: 500px) {
	.header__logo {
		font-size: 2rem;
	}
}

.header__content {
	position: relative;
	z-index: 5;

	display: flex;
	align-items: center;

	width: 100%;
	max-width: var(--container-max-width);
	margin: 0 auto;
	margin-bottom: -53px;
	padding: 0 var(--container-padding-x);

	transform: translateY(22%);
}

@media (min-width: 1070px) {
	.header__content {
		margin-bottom: 0;

		transform: translateY(0);
	}
}

.header__content-container {
	display: grid;
	gap: 50px 30px;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	max-width: 1600px;
}

@media (min-width: 1070px) {
	.header__content-container {
		display: flex;
	}
}

.header__description {
	display: flex;
	align-items: center;

	height: 100%;
}

.header__description-container {
	position: relative;
	z-index: 2;

	max-width: 900px;
	margin: 0 auto;
}

.header__title {
	font-size: 1.5rem;

	opacity: 0.8;
}

@media (min-width: 360px) {
	.header__title {
		font-size: 1.8rem;
	}
}

@media (min-width: 400px) {
	.header__title {
		font-size: 2rem;
	}
}

@media (min-width: 600px) {
	.header__title {
		font-size: 3rem;
	}
}

@media (min-width: 1150px) {
	.header__title {
		font-size: 3.2rem;
	}
}

@media (min-width: 1230px) {
	.header__title {
		font-size: 3.8rem;
	}
}

@media (min-width: 1400px) {
	.header__title {
		font-size: 4.8rem;
	}
}

.header__title-top {
	display: block;
}

.header__title-bottom {
	display: none;

	font-weight: 400;
	font-size: 0.6em;
	line-height: 1.2;
}

@media (min-width: 600px) {
	.header__title-bottom {
		display: block;

		font-size: 0.4em;
		line-height: 2;
	}
}

.header__header-layout-form {
	/* margin-bottom: -100px; */
}
