.main {
	padding-top: 5rem;

	overflow-x: hidden;
}

@media (min-width: 400px) {
	.main {
		padding-top: 6rem;
	}
}

@media (min-width: 500px) {
	.main {
		padding-top: 9rem;
	}
}

@media (min-width: 800px) {
	.main {
		padding-top: 9rem;
	}
}

.map-widget-map-component {
	pointer-events: none !important;
}
