.main {
	padding-top: 5rem;
	padding-bottom: 3rem;

	overflow-x: hidden;
}

@media (min-width: 400px) {
	.main {
		padding-top: 6rem;
		padding-bottom: 3rem;
	}
}

@media (min-width: 500px) {
	.main {
		padding-top: 6rem;
	}
}

@media (min-width: 800px) {
	.main {
		padding-top: 8rem;
	}
}
