.page-section {
	padding: 10rem 0 0;
}

.page-section__container {
	--container-max-width: calc(1550px + var(--container-padding-x) * 2);

	max-width: var(--container-max-width);
	margin: 0 auto;
	padding: 0 1rem;
}

.page-section__title {
	margin: 0 0 3em;

	text-align: center;
}
