.section-title {
	position: relative;

	font-weight: 500;
	font-size: 1.5rem;
}

@media (min-width: 400px) {
	.section-title {
		font-size: 1.9rem;
	}
}

@media (min-width: 500px) {
	.section-title {
		font-size: 2.5rem;
	}
}

.section-title::before {
	position: absolute;
	left: 50%;
	bottom: -0.9em;
	content: '';

	width: 3em;
	height: 0.2rem;

	background-color: currentColor;

	transform: translateX(-50%);
}
