.section-title {
	position: relative;

	font-weight: 500;
	font-size: 2.5em;
}

.section-title::before {
	position: absolute;
	left: 50%;
	bottom: -0.9em;
	content: '';

	width: 3em;
	height: 0.2rem;

	background-color: currentColor;

	transform: translateX(-50%);
}
