*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

:root {
	--container-padding-x: 1rem;
	--container-max-width: calc(1700px + var(--container-padding-x) * 2);
	--color-white: hsl(0, 0%, 100%);
	--color-black: hsl(0, 0%, 0%);
	--color-gray-50: hsl(80, 12%, 95%);
	--color-gray-300: hsl(108, 4%, 53%);
	--color-gray-600: hsl(111, 5%, 29%);
	--color-gray-100: hsl(86, 8%, 83%);
	--color-green-50: hsl(90, 5%, 91%);
	--color-green-600: hsl(150, 100%, 27%);
	--color-green-800: hsl(150, 59%, 22%);
}

.sr-only {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;

	overflow: hidden;

	clip: rect(0, 0, 0, 0);
}
