.page,
.page__body {
	height: 100%;
}

.page__body {
	font-family: 'Source Sans', sans-serif;
	line-height: 1.2;

	background-color: var(--color-gray-50);
}

.page--lock,
.page--lock .page__body {
	height: auto;

	overflow: hidden;

	touch-action: none;
	-ms-scroll-chaining: none;
	overscroll-behavior: none;
	-webkit-overflow-scrolling: auto;
}
